* {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .titles {
    text-align: center;
}

.audios{
    display: block;
    margin-right: auto;
    margin-right: auto;
    width: 50%;
}

img {
    height: 100%;
    width: 100%;
}

.reduce-move {
    width: 100%;
    transition: width 3s, transform 3s;
  }
  
.reduce-move:hover {
    width: 50%;
    transform: translateX(20px);
  }
